@charset "UTF-8";

/* generales */
html,
body {
    height: 100%;
    min-height: 100vh;
}
/*
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', "Playfair Display", Georgia, "Times New Roman", serif;
}
 */
/*
Fuentes:
  fr: fuente roboto para contenido y
  frs: fuente roboto slab para etiquetas h1..h6

*/
.fr {
    font-family: 'Roboto', sans-serif;
}
.frs {
    font-family: 'Roboto Slab', serif;
}

label {
    font-weight: 600;
}

a:hover {
    text-decoration: none;
    color: #0056b3;
}

a:not([href]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):hover {
    text-decoration: none;
}

.pie-pagina {
    color: #fff;
    font-weight: 600;
    background-color: var(--primary);
    letter-spacing: 1px;
}

.altura-linea-3x {
    line-height: 3rem;
}


.modal-alerta-content {
    border-radius: 1rem;
}

.modal-alerta-header {
    padding: 1.5rem 1rem;
}

.modal-alerta-body {
    color: inherit;
}

div#modalContacto>div>div.modal-content {
    border: 10px solid #8aa5c4;
    border-radius: 1rem;
}

.sombra-borde {
    padding: 20px;
    border-radius: 1.2rem;
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

/* scroller */
#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 42px;
    right: 3px;
    border-radius: 50%;
    border: 1px solid #dedfdd;
    background-color: transparent;
    color: #004085;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}

#back2Top:hover {
    box-shadow: 0 0 25px 5px rgba(84, 84, 84, .8);
    border-color: revert;
}

.svg-inline,
.svg-inline-modal {
    color: inherit;
}

.svg-inline-modal {
    min-width: 2rem;
    min-height: 2rem;
}

.navbar {
    opacity: .98;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16),
        0 2px 10px 0 rgba(0, 0, 0, .12),
        0 4px 3px #4747478f !important;
}

.navbar-light .navbar-brand {
    font-family: "Roboto", Sans-serif;
    letter-spacing: .2rem;
    font-size: 3rem;
    color: var(--primary);
    font-weight: 600;
}

span.logo {
    color: var(--primary);
    text-shadow: 0 1px 1px #000, 0 -1px 1px #000, 1px 0 1px #000, -1px 0 1px #000,
        0.04em 0.04em 0 #eee, 0.08em 0.08em 0 #aaa;
}

span.logo:hover {
    color: #fff;
    text-shadow: 0 1px 1px #0066ff, 0 -1px 1px #0066ff, 1px 0 1px #0066ff, -1px 0 1px #0066ff,
        0.04em 0.04em 0 #eee, 0.08em 0.08em 0 #aaa;
    background-color: transparent;
}

body>header>nav>a>img:hover {
    background-color: transparent;
}

a.nav-link.textshadow {
    color: #595959 !important;
    background-color: transparent;
}

.textshadow {
    font-size: 1.35rem !important;
    line-height: 3rem;
}

.textshadow:hover {
    color: #000000 !important;
    text-shadow: 4px 6px 10px rgba(29, 30, 28, .66);
}

.navbar-nav .nav-item .textshadow::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #555555;
    transition: .20s;
}

.navbar-nav .nav-item .textshadow:hover::after {
    width: 100%;
}
li.nav-item.active { font-weight: 700;}

.btn {
    border-width: 2px;
    border-color: #a4aca0;
}

.btn:hover {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.btn.btn-primary {
    border-width: 2px solid #a4aca0;
    color: #ffffff;
    letter-spacing: 1px;
}

.btn.btn-primary:hover {
    color: #ffffff;
    background-color: #4285f4;
    border-color: #cdd1d6;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2), 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    filter: contrast(200%);
    /*  ver como reemplazarlo con opacity creo*/
}

.btn.btn-primary.btn-contacto {
    background-color: #134bc2;
    text-shadow: 2px 2px 4px #1240a2, 2px 2px 4px #000;
}

.btn.btn-primary.btn-contacto:hover {
    background-color: #4285f4;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2), 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.btn.btn-primary.btn-contacto:active,
.btn.btn-primary.btn-contacto:focus {
    color: #ffffff;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    border-color: white;
}

.btn.btn-primary.btn-barra {
    text-shadow: 2px 2px 4px #0066ff, 2px 2px 4px #000;
}

.btn.btn-primary.btn-barra:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2),
        0 5px 11px 0 rgba(0, 0, 0, .18),
        0 4px 15px 0 rgba(0, 0, 0, .15);
}

.btn.btn-primary.btn-barra:active,
.btn.btn-primary.btn-barra:focus {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    color: #ffffff;
    border-color: #fff;
}

.btn.btn-primary.btn-contacto:hover,
.btn.btn-primary.btn-barra:hover {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
}
.btn.btn-primary.btn-cancion:hover,
.btn.btn-primary.btn-submit-form:hover,
.btn.btn-primary.btn-cierra-modal:hover {
  border-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .2), 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

/*
  .btn.btn-primary.btn-cancion:hover {
    color: #0066ff;
    background-color: #ffffff;
    border-color: #444;
  }
  .btn.btn-primary.btn-cierra-modal.active,
  .btn.btn-primary.btn-cierra-modal:active,
  .btn.btn-primary.btn-cierra-modal.focus,
  .btn.btn-primary.btn-cierra-modal:focus {
    border-color:azure;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    color:#ffffff;

  }

  .img-thumbnail {
	padding: 0.25rem;
	background-color: white;
	border: 1px solid #dee2e6;
	border-radius: 0.25rem;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
	max-width: 100%;
	height: auto;
}
*/


a.registrate {
    font-size: 1.3rem;
    padding: .18rem;
    text-decoration: dashed;
}

a.registrate:hover,
a.registrate:focus {
    background-color: rgba(0, 0, 0, .04);
    border-radius: .25rem;
    text-decoration: underline;
}

/* Top 3 - DivTable.com  */
.divTable {
    display: table;
    width: 100%;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    display: table-header-group;
}

.divTableCell,
.divTableHead {
    display: table-cell;
    border-top: 1px solid #dee2e6;
    padding: 12px;
}

.divTableHeading {
    display: table-header-group;
    font-weight: bold;
    border-bottom: 0 solid #dee2e6;
}

.divTableFoot {
    background-color: #eeeeee;
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody {
    display: table-row-group;
}


/*   Canciones   */
/* badge nro de canciones */
#nCanciones {
    font-size: 1.2rem;
}

/* grilla canciones */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* cards canciones */
.card {
    text-align: center;
    background-color: #f8f9fa;
    border-radius: 10px;
    font-weight: 500;
    /* border: 0;max-width: 375px; */
}

.card-body {
    background-color: #ffffff;
    padding-bottom: 3rem;
    border-radius: 10px;
}

h5.card-title {
    font-weight: bold;
}

.card-canciones-sombra {
    /* border-radius: 10px !important; */
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16),
        0 2px 10px 0 rgba(0, 0, 0, .12) !important;
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16),
        0 2px 10px 0 rgba(0, 0, 0, .12) !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16),
        0 2px 10px 0 rgba(0, 0, 0, .12) !important;
}

.card-sombra1 {
    /* border-radius: 10px!important; */
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16),
        0 2px 10px 0 rgba(0, 0, 0, .12) !important;
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16),
        0 2px 10px 0 rgba(0, 0, 0, .12) !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16),
        0 2px 10px 0 rgba(0, 0, 0, .12) !important;
}

.card-sombra2 {
    box-shadow: 0 5px 31px -3px rgba(86, 104, 135, .16) !important;
}

.card-sombra3 {
    box-shadow: 0 12px 63px 12px rgba(0, 0, 0, .15) !important;
    border-radius: 10px;
    overflow: auto;
}

/*   Inicio de Sesión y Registro de Usuarios   */
.body-overflow-y {
    overflow-y: scroll !important;
}

.body-overflow-yh {
    overflow-y: hidden !important;
}

.body-overflow-ya {
    overflow-y: auto !important;
}

.form-login {
    width: 100%;
}

input[type=text].form-control::placeholder,
input[type=email].form-control::placeholder,
input[type=password].form-control::placeholder {
    font-style: italic;
}

.form-control:focus,
select.custom-select:focus {
    outline: 0;
    border: 1px solid #ced4da;
    box-shadow: 0 0 0 .2rem rgba(71, 71, 71, .35);
}

/* fix de bootstrap en inputs group preppend y append*/
.fix-rounded-right:focus {
    border-top-right-radius: .2rem !important;
    border-bottom-right-radius: .2rem !important;
}

.campo-error {
    border: 1px solid red !important;
}

label.campo-error {
    color: #ff0000;
}

.form-control.campo-error:focus,
select.custom-select.campo-error:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(255, 0, 0, .35);
}

.form-control.campo-error:not(:focus),
select.custom-select.campo-error:not(:focus) {
    border-top-right-radius: .2rem !important;
    border-bottom-right-radius: .2rem !important;
}

.error {
    color: red;
    font-weight: bold;
    margin-bottom: 1rem;
}

.radio-error {
    color: red !important;
}

.custom-control.custom-radio input[type=radio].custom-control-input.radio-error,
.custom-control.custom-radio label.custom-control-label.radio-error {
    color: red;
}

.custom-control.custom-radio .custom-control-label.radio-error::before,
.custom-radio.custom-control-label.radio-error::before {
    border-radius: 50%;
    border-color: red;
}

/**
* Extends the .screen-reader class to allow the element to be focusable when navigated to via the keyboard
* @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
* @link https://www.drupal.org/node/897638
*/
.sr-only-focusable:active,
.sr-only-focusable:focus {
    margin: 0;
}

/**
  * @workaround Remove focus from <main> element when using tabindex="-1" hack for skipnav link
  * @link https://code.google.com/p/chromium/issues/detail?id=37721
  */
.tabindex:focus {
    outline: none;
}